# Discord
DISCORD_TOKEN=MTQ5ODE1NTY0MDg5ODcxOTkzNg.GFXxpN.qNcCVyByX4D8w7UaX9IleE9IpPmOHW-3nqNRMA
DISCORD_CLIENT_ID=1498155640898719936
DISCORD_GUILD_ID=1498152208372465685

# Server
PORT=8787
PUBLIC_BASE_URL=https://YOUR_RENDER_SERVICE.onrender.com

# TTS
TTS_MODE=piper-http
PIPER_TTS_URL=https://skyecho-piper-render.onrender.com/api/tts
PIPER_HTTP_HOST=127.0.0.1
PIPER_HTTP_PORT=5000
PIPER_BINARY=./piper-bin/piper
PIPER_MODEL=./voices/en_US-lessac-high.onnx
PIPER_MODEL_ATC=./voices/en_US-lessac-high.onnx
PIPER_MODEL_TRAFFIC=./voices/en_US-ryan-high.onnx
PIPER_MAC_SAY_FALLBACK=false
MAC_SAY_FALLBACK=false

# STT
STT_MODE=vosk-local
VOSK_MODEL_PATH=./models/vosk-model-small-en-us-0.15
PYTHON_BIN=python3
FFMPEG_BINARY=ffmpeg
STT_LANGUAGE=en

# Voice keepalive/reconnect
AUTO_REJOIN=true
VOICE_RECONNECT_COOLDOWN_MS=15000
VOICE_RECONNECT_MAX_ATTEMPTS=10

# Traffic
TRAFFIC_ENGINE_DEFAULT=on
TRAFFIC_DENSITY_DEFAULT=medium
